[Desktop Entry]
Name=Agregore Browser
GenericName=Web browser
Exec="{{ agregore.path.bin }}" --enable-accelerated-video %U
Terminal=false
Type=Application
Icon=agregore-browser
StartupWMClass=Agregore Browser
Comment=A minimal web browser for the distributed web
Categories=Network;WebBrowser;FileTransfer;P2P;
Keywords=Internet;WWW;Browser;Web;IPFS
MimeType={{ agregore.mimetypes | join(";") }}
